__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.env.*
.DS_Store
.vscode/
.git/
.gitignore
*.egg-info/
*.swp
*.bak
*.tmp
.idea/
*.egg
*.coverage
.coverage*
.cache/
*.mypy_cache/
*.pytest_cache/
*.tox/
*.test
*.md
README.md
GEMINI.md
